.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: #1f2a4c;
  color: white;
}

.logo h1 {
  font-size: 1.6rem;
  font-weight: bold;
  color: #fcd34d;
}

.logo span {
  color: #fff;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.login-btn {
  background: #ffe36e;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}
